.App{
    min-height: 100vh;
    display: flex;
    background-image: url(chatappsBg.jpg);
    background-size: cover;
    background-position: center;
            font-family: "SUSE", sans-serif;
            font-weight: 400;
            font-style: normal;
        };